.menu-nav .menu-list {
    list-style: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    margin-bottom: 0;
    /* padding-inline-start: 0; */
}